#board {
    height: 300px;
    border: 1px solid black;
    position: relative;
}

#tractor {
    height: 100px;
    width: 125px;
    background-image: url("images/tractor.png");
    background-size: 125px 100px;
    position: absolute;
    bottom: 0;
    left: 10px;

}

#rearWheel {
    height: 55px;
    width: 55px;
    background-image: url("images/wheel.png");
    background-size: 55px 55px;
    position: absolute;
    bottom: 0;
    left: -5px;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#frontWheel {
    height: 47px;
    width: 47px;
    background-image: url("images/wheel.png");
    background-size: 47px 47px;
    position: absolute;
    bottom: 0;
    right: 1px;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes jump {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-150px) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(720deg);
    }
}

.jump {
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: 1;
}