:root {
    --tractor-width: 10vw;
}

h1 {
    text-align: center;
    text-decoration: none;
}

#board {
    min-height: 300px;
    height: calc(300 / 125 * var(--tractor-width));
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
}

#tractor {
    height: calc(100 / 125 * var(--tractor-width));
    width: var(--tractor-width);
    background-image: url('images/tractor.png');
    background-size: var(--tractor-width) calc(100 / 125 * var(--tractor-width));
    position: relative;
    bottom: 0;
    left: 10px;
}

#rearWheel {
    height: calc(55 / 125 * var(--tractor-width));
    width: calc(55 / 125 * var(--tractor-width));
    background-size: calc(55 / 125 * var(--tractor-width)) calc(55 / 125 * var(--tractor-width));
    bottom: 0;
    left: calc(-5 / 125 * var(--tractor-width));
}

#frontWheel {
    height: calc(47 / 125 * var(--tractor-width));
    width: calc(47 / 125 * var(--tractor-width));
    background-size: calc(47 / 125 * var(--tractor-width)) calc(47 / 125 * var(--tractor-width));
    bottom: 0;
    right: calc(1 / 125 * var(--tractor-width));
}

.wheel {
    background-image: url('images/wheel.png');
    position: relative;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(calc(-150 / 125 * var(--tractor-width))) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(720deg);
    }
}

.jump {
    animation-name: jump;
    animation-duration: 7s;
    animation-iteration-count: 1;
}

#ladybug {
    height: calc(50 / 125 * var(--tractor-width));
    width: calc(80 / 125 * var(--tractor-width));
    background-image: url('images/ladybug.png');
    background-size: calc(80 / 125 * var(--tractor-width)) calc(50 / 125 * var(--tractor-width));
    position: absolute;
    bottom: 0;
    right: calc(-80 / 125 * var(--tractor-width));

    animation-name: ladybug;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ladybug {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100vw - calc(80 / 125 * var(--tractor-width))));
    }
}
